.day-deal-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 70px;
}
.day-deal-container h1 {
  margin-left: 30px;
  letter-spacing: 0.35rem;
}
.card-containe {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
}
