.women {
  width: 100%;
  height: 100%;
  display: flex;
}
.women-main-content {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding-bottom:20px;
  margin-bottom:15px;
}
.women-content {
  padding: 15px 0px 20px 30px;
  width:100%;
  height: 100%;
}

.women2 {
  background-color: rgba(223, 227, 218, 0.247);
}

.women4 {
  background-color: rgba(223, 227, 218, 0.247);
}
.women-heading {
  font-size: 13px;
  text-decoration: none;
  color: #fb56c1;
  font-weight: 600;
}
.women-heading-catagory {
  margin-top: 5px;
  text-decoration: none;
  color: rgb(88, 88, 88);
  font-weight:400;
  font-size:13px;
}
.women-heading-catagory:hover {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.715);
}
.women1-top{
    border-bottom:1px solid rgba(128, 128, 128, 0.263);
}
.women2-top{
    border-bottom:1px solid rgba(128, 128, 128, 0.263);
    

}
.women2-middle{
    border-bottom:1px solid rgba(128, 128, 128, 0.263);

}

.women4-top{
    border-bottom:1px solid rgba(128, 128, 128, 0.263);

}
.women5-top{
    border-bottom:1px solid rgba(128, 128, 128, 0.263);

}
